<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.dewani.doordarshan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EPG_DATA" />
    <uses-permission android:name="android.permission.WRITE_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true">
        <service
            android:name="me.dewani.doordarshan.DoordarshanService"
            android:permission="android.permission.BIND_TV_INPUT"
            android:process=":input">
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>

            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/tvinputservice" />
        </service>

        <activity
            android:name="me.dewani.doordarshan.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.dewani.doordarshan.SetupActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
